In [1]:
import pandas as pd

## Loading Production Data from 1987 to 2008

The production data from these years follows the same file format.

We can therefore import using the same format and put the dataframes into a dictionary.

In 1990 we manually fix well API No: 21451, DUCKETT "A" and set it's well number to 1 as unspecified.
Same in 1991.

In [17]:
production_data = {}
for i in range(1987, 2016, 1):
    if i != 1994: #No Data from 1994
        print(i)
        if i <= 2008:
            df = pd.read_csv("../raw/"+str(i)+"prodn.txt", delimiter="|", skiprows=[0, 2])
            production_data[i] = df
        else:
            df = pd.read_csv("../raw/"+str(i)+"prodn.txt", delimiter="|")
            production_data[i] = df

1987
1988
1989
1990
1991
1992
1993
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,30,33,36,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2005

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2006
2007

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,33,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2008
2009
2010
2011
2012

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,1,2,5,8,15,16,17,18,19,20,21,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2013
2014
2015

In [18]:
print(production_data[2015])

       API_COUNTY  API_NUMBER   S                       WELL_NAME WELL_NO  \
0               3           1 NaN  KIRCHER                              1
1               3          25 NaN  HAGUE                                1
2               3          68 NaN  ADAMS   "A"                     1-3
3               3          71 NaN  NEWLIN                               1
4               3          73 NaN  WOODWARD (VOSS)                      1
5               3       20014 NaN  EARL LESLIE                          1
6               3       20049 NaN  GINDER                               1
7               3       20099 NaN  JOHNSON UNIT                         1
8               3       20142 NaN  FAULKNER                             1
9               3       20178 NaN  FOY DAVIS                            2
10              3       20192 NaN  MAX BENTLEY                          1
11              3       20194 NaN  GREEN                                1
12              3       20211 NaN  SCHOOL LAND                          1
13              3       20214 NaN  LORRAINE                             1
14              3       20216 NaN  DUEL                                 1
15              3       20237 NaN  BALDWIN                              1
16              3       20238 NaN  CURRY                           22-1
17              3       20248 NaN                           ALTON       1
18              3       20254 NaN                         HARTMAN       1
19              3       20259 NaN                        HERTZLER       1
20              3       20261 NaN  TUXHORN                              1
21              3       20262 NaN  COMER                                1
22              3       20275 NaN  BALDWIN                              2
23              3       20280 NaN                         BRINING       1
24              3       20281 NaN                     TERREL UNIT       1
25              3       20299 NaN  MATHIS                               1
26              3       20299 NaN  MATHIS                               1
27              3       20327 NaN                            WEBB     9-B
28              3       20330 NaN  SCHALLNER /A/                     1-22
29              3       20337 NaN  FAIRBANKS                            1
...           ...         ...  ..                             ...     ...
41162         153       23527 NaN  CORINNE                         1-21
41163         153       23528 NaN  KUERSTEINER TRUST               1-24
41164         153       23532 NaN                            JUDY   31-2H
41165         153       23544 NaN                         SISTERS    29-2
41166         153       23547 NaN                        WITHGOTT     3-2
41167         153       23552 NaN                          COOPER   1-20H
41168         153       23567 NaN                   SOUTHERN JAZZ    1-23
41169         153       30010 NaN  SWAIN(FORMERLY SWAIN UNIT 1)    20-1
41170         153       30013 NaN  HOLLOWAY (GARVIE 1)             13-4
41171         153       30019 NaN  CURTIS UNIT                          1
41172         153       30020 NaN                    BARANSY UNIT       1
41173         153       30039 NaN  FARWELL ETHEL UNIT                   1
41174         153       30066 NaN  MORGAN-HORN UNIT                     1
41175         153       30086 NaN  BEISEL                             1-7
41176         153       35159 NaN  KATHRYN KEE                          1
41177         153       35174 NaN  EZELL UNIT                      1-35
41178         153       35182 NaN  STATE OF OKLAHOMA                 1-24
41179         153       35199 NaN  CARL E LINTNER                       1
41180         153       35207 NaN  FEDERAL A                            1
41181         153       35208 NaN  STATE K                              1
41182         153       35215 NaN  ARLENE SHUCK                    1
41183         153       35218 NaN  FOX UNIT                             1
41184         153       35221 NaN  B A BROWN                            1
41185         153       35280 NaN  ROBERTS UNIT-B                       1
41186         153       35287 NaN  MAY MORGAN                           1
41187         153       35288 NaN                       KEE HEIRS       1
41188         153       35297 NaN  D.W.THOMAS                           1
41189         153       35300 NaN  HAZEL ROBINSON UNIT                  1
41190         153       35312 NaN  LUDDEN                               1
41191         153       50009 NaN  MOREHART                           1-6

       OPER_NO                                OPERATOR      ME  SECTION  TWP  \
0         4030                CHAMPLIN EXPLORATION INC  INDIAN        4  27N
1        19694                                 BVD INC  Indian       22  27N
2        17441                CHESAPEAKE OPERATING LLC  Indian        3  25N
3         7775          COMBINED RESOURCES CORPORATION  Indian       19  25N
4        11739                          MACK ENERGY CO  Indian       25  24N
5        16711                  UNIT PETROLEUM COMPANY  Indian       29  25N
6         6823                      HILL RESOURCES INC  Indian       16  27N
7        17441                CHESAPEAKE OPERATING LLC  Indian        1  23N
8        17441                CHESAPEAKE OPERATING LLC  Indian        8  23N
9        17441                CHESAPEAKE OPERATING LLC  Indian       12  23N
10       17441                CHESAPEAKE OPERATING LLC      IM       21  24N
11       13135               COG PETROLEUM CORPORATION  Indian       30  25N
12       13135               COG PETROLEUM CORPORATION  Indian       16  25N
13       17441                CHESAPEAKE OPERATING LLC  Indian       28  24N
14       17441                CHESAPEAKE OPERATING LLC  Indian       28  24N
15       18096          EARLSBORO ENERGIES CORPORATION  Indian       35  25N
16        3186               CONTINENTAL RESOURCES INC  Indian       22  24N
17       17441                CHESAPEAKE OPERATING LLC  Indian       22  24N
18       17342                     AEXCO PETROLEUM INC  Indian       28  25N
19       23107                 AVALANCHE OIL & GAS LLC  Indian       21  24N
20       20750                      BECK RESOURCES INC  Indian        3  24N
21       13135               COG PETROLEUM CORPORATION  Indian       17  25N
22       18096          EARLSBORO ENERGIES CORPORATION  Indian       26  25N
23       16896                    CHAPARRAL ENERGY LLC  Indian        1  26N
24       19785                   LORENTZ OIL & GAS LLC  Indian       17  24N
25        7775          COMBINED RESOURCES CORPORATION  Indian        3  26N
26        7775          COMBINED RESOURCES CORPORATION  Indian        3  26N
27       19694                                 BVD INC  Indian        9  26N
28       17441                CHESAPEAKE OPERATING LLC  Indian       22  25N
29       17441                CHESAPEAKE OPERATING LLC  Indian       21  24N
...        ...                                     ...     ...      ...  ...
41162    22281  SANDRIDGE EXPLORATION & PRODUCTION LLC  INDIAN       21  23N
41163    22182                      LINN OPERATING INC  INDIAN       24  23N
41164    21043                        JONES ENERGY LLC  INDIAN       24  23N
41165    22354              ORCA OPERATING COMPANY LLC      IM       29  26N
41166    22354              ORCA OPERATING COMPANY LLC      IM        3  23N
41167    22664                RANGE PRODUCTION COMPANY      IM       20  23N
41168    23220             REEDER ENERGY OPERATING LLC      IM       23  21N
41169    17441                CHESAPEAKE OPERATING LLC  Indian       20  23N
41170    21665                      BRG PETROLEUM  LLC      IM       13  22N
41171    20447                         WHITE STONE LLC  Indian       35  25N
41172    17441                CHESAPEAKE OPERATING LLC  Indian        1  24N
41173    19848                  ENERVEST OPERATING LLC  Indian       36  20N
41174    23249                  BREITBURN OPERATING LP  Indian       11  23N
41175    11441                  FAULCONER VERNON E INC  Indian        7  22N
41176    16711                  UNIT PETROLEUM COMPANY  Indian       13  23N
41177     8295                  UNITED OIL CORPORATION  Indian       35  21N
41178    22182                      LINN OPERATING INC  Indian       24  22N
41179    16597              CANYON EXPLORATION COMPANY  Indian       32  24N
41180    21003                          XTO ENERGY INC  Indian       21  24N
41181    11199                       ALTMAN ENERGY INC  Indian       28  24N
41182     8295                  UNITED OIL CORPORATION  Indian        1  20N
41183     5415                SAMSON RESOURCES COMPANY  Indian        4  20N
41184    17441                CHESAPEAKE OPERATING LLC  Indian        3  26N
41185     6390              KAISER-FRANCIS OIL COMPANY  Indian       31  23N
41186     6778                      APACHE CORPORATION  Indian       14  23N
41187     6390              KAISER-FRANCIS OIL COMPANY  Indian       24  23N
41188    11441                  FAULCONER VERNON E INC  Indian       30  23N
41189    11441                  FAULCONER VERNON E INC  Indian        5  24N
41190    21003                          XTO ENERGY INC  Indian       25  24N
41191    11441                  FAULCONER VERNON E INC  Indian        6  22N

        ...       GAS.8 OCT OIL.9    GAS.9 NOV  OIL.10   GAS.10  DEC  OIL.11  \
0       ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
1       ...        31.0  10   NaN     39.0  11     NaN     37.0   12     NaN
2       ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
3       ...      1089.0  10   NaN   1089.0  11     NaN    873.0   12     NaN
4       ...       608.0  10   NaN    468.0  11     NaN    344.0   12     NaN
5       ...      2118.0  10   NaN   2118.0  11     NaN   2065.0   12     NaN
6       ...       441.0  10   NaN    468.0  11     NaN    496.0   12     NaN
7       ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
8       ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
9       ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
10      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
11      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
12      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
13      ...       438.0  10   NaN    214.0  11     NaN      0.0   12     NaN
14      ...       457.0  10   NaN    217.0  11     NaN      0.0   12     NaN
15      ...       871.0  10   NaN    936.0  11     NaN    876.0   12     NaN
16      ...       574.0  10   NaN    571.0  11     NaN    585.0   12     NaN
17      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
18      ...         0.0  10   NaN      NaN  11     NaN      NaN   12     NaN
19      ...         0.0  10   NaN      0.0  11     NaN    375.0   12     NaN
20      ...       267.0  10   NaN    345.0  11     NaN    398.0   12     NaN
21      ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
22      ...       550.0  10   NaN    597.0  11     NaN    595.0   12     NaN
23      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
24      ...       640.0  10   NaN    640.0  11     NaN    613.0   12     NaN
25      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
26      ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
27      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
28      ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
29      ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
...     ...         ...  ..   ...      ...  ..     ...      ...  ...     ...
41162   ...      2124.0  10   NaN   2132.0  11     NaN   1899.0   12     NaN
41163   ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
41164   ...        60.0  10   NaN      2.0  11     NaN      5.0   12     NaN
41165   ...     18046.0  10   NaN  17733.0  11     NaN  18068.0   12     NaN
41166   ...      8921.0  10   NaN   9535.0  11     NaN   9610.0   12     NaN
41167   ...     20997.0  10   NaN   8317.0  11     NaN   7971.0   12     NaN
41168   ...     11942.0  10   NaN  11942.0  11     NaN  16982.0   12     NaN
41169   ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
41170   ...      2158.0  10   NaN   1685.0  11     NaN   1598.0   12     NaN
41171   ...       746.0  10   NaN    782.0  11     NaN    751.0   12     NaN
41172   ...      1409.0  10   NaN   1461.0  11     NaN   1415.0   12     NaN
41173   ...       986.0  10   NaN   1026.0  11     NaN    971.0   12     NaN
41174   ...        73.0  10   NaN     74.0  11     NaN     66.0   12     NaN
41175   ...       694.0  10   NaN    758.0  11     NaN    718.0   12     NaN
41176   ...      1430.0  10   NaN   1302.0  11     NaN      NaN   12     NaN
41177   ...      1700.0  10   NaN   1484.0  11     NaN   1322.0   12     NaN
41178   ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
41179   ...      1372.0  10   NaN   1322.0  11     NaN    897.0   12     NaN
41180   ...       291.0  10   NaN    205.0  11     NaN    186.0   12     NaN
41181   ...       631.0  10   NaN    650.0  11     NaN    615.0   12     NaN
41182   ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
41183   ...      2452.0  10   NaN   2592.0  11     NaN   2417.0   12     NaN
41184   ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
41185   ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
41186   ...       949.0  10   NaN    967.0  11     NaN    830.0   12     NaN
41187   ...         NaN  10   NaN      NaN  11     NaN      NaN   12     NaN
41188   ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
41189   ...       685.0  10   NaN    706.0  11     NaN    668.0   12     NaN
41190   ...         0.0  10   NaN      0.0  11     NaN      0.0   12     NaN
41191   ...       778.0  10   NaN    953.0  11     NaN    883.0   12     NaN

        GAS.11
0          NaN
1         45.0
2          NaN
3        512.0
4        857.0
5       2228.0
6        501.0
7          NaN
8          NaN
9          NaN
10         NaN
11         0.0
12         0.0
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19       309.0
20         0.0
21         NaN
22         NaN
23         NaN
24       598.0
25         0.0
26         NaN
27         0.0
28         NaN
29         NaN
...        ...
41162      NaN
41163      NaN
41164      NaN
41165      NaN
41166      NaN
41167   7667.0
41168  25519.0
41169      NaN
41170      NaN
41171    768.0
41172      NaN
41173      NaN
41174      NaN
41175    720.0
41176      NaN
41177   1413.0
41178      NaN
41179    930.0
41180      NaN
41181    653.0
41182      0.0
41183   2392.0
41184      NaN
41185      NaN
41186      NaN
41187      NaN
41188      0.0
41189    683.0
41190      NaN
41191    876.0

[41192 rows x 66 columns]